<!-- Remove the container if you want to extend the Footer to full width. -->

    <footer class="bg-dark text-center text-white p-2 fixed-bottom">
    <!-- Grid container -->
      <!-- Section: Social media -->
      <section class="">
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/linux_2014" role="button"
          ><i class="fa fa-twitter"></i
        ></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/badrazeez/" role="button"
          ><i class="fa fa-linkedin-square"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/badr-azeez" role="button"
          ><i class="fa fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    <!-- Grid container -->
  
  </footer>
    
  <!-- End of .container -->