
<footer class="bg-dark text-center text-white p-2 fixed-bottom">

    <section class="">
    <!-- Twitter -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/linux_2014" role="button"
        ><i class="fa fa-twitter"></i
    ></a>

    <!-- Linkedin -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/badrazeez/" role="button"
        ><i class="fa fa-linkedin-square"></i
    ></a>

    <!-- Github -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/badr-azeez" role="button"
        ><i class="fa fa-github"></i
    ></a>
    </section>


</footer>
    
